{% extends 'base.html' %}
{% block title %}stok{% endblock %}
{% block menu %}Stok{% endblock %}
{% block content %}

<h3>Pesanan</h3>
<hr>
<form method="post">
	<table class="table table-bordered" id="myTable">
		<thead>
			<tr>
				<th class="tb-no">No</th>
				<th>Nama Pemesan</th>
				<th>Status Pemesanan</th>
				<th>Jumlah</th>
				<th>Harga</th>
				<th>Subtotal
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
		{% for item in pesanan %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ item.nama_pemesan }}</td>
				<td>{{ item.status_pesanan }}</td>
				<td>{{ item.jumlah }}</td>
				<td>{{ item.harga }}</td>
				<td>{{ item.subtotal }}</td>				
				<td>
					<button type="button" class="btn btn-primary btn-xs" data-id="{{ item.id }}" style="margin-right:4px;">Kirim</a>
					<button type="submit" class="btn btn-danger btn-xs" name="batal" value="{{ item.id }}">Batal</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</form>

{% endblock content %}