{% extends 'base.html' %}
{% block title %}user{% endblock %}
{% block menu %}user{% endblock %}
{% block tablebtn %}<a href="{% url 'tambah_user' %}" class="btn btn-success" style="float:left;margin-right:4px;">Tambah</a>{% endblock %}
{% block content %}
<div class="table-content">
	<h3>User</h3>
	<hr>
	<form method="post">
		<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th class="tb-no">No</th>
					<th>Username</th>
					<th>Aksi</th>
				</tr>
			</thead>
			<tbody>
			{% for item in user %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ item.username }}</td>
					<td>
						<a href="{% url 'edit_user' item.id %}" class="btn btn-primary btn-xs">Edit</a>
						<button type="submit" class="btn btn-danger btn-xs" name="del" value="{{ item.id }}">Hapus</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<div class="clear"></div>
</div>

{% endblock content %}