{% extends 'base1.html' %}
{% block title %}{{stok.nama}}{% endblock %}
{% block content %}

<div class="container body-content">
	<div class="row">
		<div class="col-md-6">
			<div class="produk-img">
				<div class="produk-imgcase">
					<img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/media/{{stok.gambar}}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group produk-detail">
				<div class="form-group">
					<div class="produk-nama">{{stok.nama}}</div>
				</div>
				<div class="form-group">
					<label>Harga</label>
					<div class="produk-harga">Rp. {{stok.harga}}</div>
				</div>
				<div class="form-group">
					<label>Kategori</label>
					<div>{{stok.kategori}}</div>
				</div>
				<div class="form-group">
					<label>Deskripsi</label>
					<div class="produk-deskripsi">{{stok.deskripsi}}</div>
				</div>
				<div class="form-group"><i>Masih tersedia sekitar {{stok.jumlah_stok}} stok</i></div>
			</div>
			<div class="form-group produk-btn">
				<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/beli/{{stok.id}}" class="btn btn-produk btn-beli">Beli</a>
				<button type="button" class="btn btn-produk btn-keranjang">Tambah Keranjang</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}